@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  background: none;
  text-align: center;
}

header {
  z-index: 99;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 50vh;
  left: 10px;
}

.navigator {
  border: none;
  text-decoration: none;
}

.scroll-container,
.scroll-area {
  height: 100vh;
}

.scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-area {
  scroll-snap-align: start;
}

.scroll-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scroll-area:nth-of-type(1) {
  background: #121212;
}

.scroll-area:nth-of-type(2) {
  background: #121212;
}
