@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  background-color: #121212;
  text-align: center;
}

.pg-page {
  position: relative;
}
