@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #121212;
  text-align: center;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  margin-left: 10px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: none;
}

.navigator {
  border: none;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}
