.title {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: none;
}

.typing {
  height: 50px;
}

.typing__result {
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.aboutButton {
  margin-top: 5vh;
  width: 10vw;
  height: 5vh;
  color: black;
  background-color: white;
  border: none;
}
