.container {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: none;
}

.typing {
  height: 50px;
}

.typing__result {
  width: 100%;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 50vh;
}
